/* font Family */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}
body{
    background-color: #F1F2F4;
}
/* nav section */
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
}
.nav-container{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.nav-items{
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-search{
    height: 40px;
    width: 709px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.017); 
    border-radius: 10px;
    gap: 13px;
    background-color: #eaf1fe;
}
.top-search>i{
margin-left: 15px;
font-size: 22px;
color: #989898d6;
}
.top-search>input{
    height: 38px;
    border-radius: 10px;
    background-color: #eaf1fe;
    font-size: 17px;
    font-weight: 400;
    width: 700px;
    outline: none;
    border: none;
}

.user-profile,.seller,.top-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 42px;
}
.user-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.top-menu-item{
    position: absolute;
    top:72%;
    right: 2%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #b0b0b080;
    display: flex;
    width: 250px;
     height: 150px;
     border-radius: 8px;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
}
.top-menu:hover .top-menu-item{
    visibility: visible;
    opacity: 1;
}
.top-menu{
    padding: 5px 15px;
    border-radius: 5px;
}
.top-menu:hover {
    background-color: #fcfafab5;
    padding: 2px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px  #a8a7a790;
}
.top-menu-item{
    gap: 10px;
}
.top-menu-item a{
    text-decoration: none;
    color: #000;
}
.user-item>a{
text-decoration: none;
font-size: 17px;
font-weight: 400;
color: #000;

}
.top-cart>a>i{
    font-size: 17px;
}
.top-cart>a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: #000;
    }
.seller>a>i{
    font-size: 17px;
}
.seller>a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: #000;
    }
    .top-menu>h4{
        font-size: 17px;
        cursor: pointer;
    }
    .login-con{
        position: relative;
    }
    
    .sign-con{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0px 10px;
        margin-top: 10px;
    }
    .sign-con a{
        text-decoration: none;
        color: #000;
    }
    .login-items{
        position: absolute;
        top:81%;
        right: 18%;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px #b0b0b080;
        display: flex;
        width: 267px;
         height: 250px;
         border-radius: 8px;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
    }
    .sign{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(137, 135, 135, 0.471);
        padding-bottom: 10px;
    }
    .sign>a{
        text-decoration: none;
        color: #0245fe;
        font-weight: 600;
    }
    .sign>h5{
        font-weight: 400;
        font-size: 15px;

    }
    .user-profile{
        padding: 8px 10px;  
        border-radius: 10px;

    }
    .user-profile:hover .user-item>a{
        color: #fff;
    }
    .user-profile:hover .login-items{
        visibility: visible;
        opacity: 1;
    }
    .fa-user{
        color: #000;
        font-size: 17px;
    }
    .user-profile:hover .fa-user{
        color: #fff;
    }
    .fa-angle-down{
        transition: all 0.8s;
        color: #000;
        font-size: 15px;
    }
    .user-profile:hover .fa-angle-down{
        color: #fff;
        transform: rotate(180deg);
    }
    .user-profile:hover{
       background-color: #0231b5;
       padding: 8px 10px;
       border-radius: 10px;
    }
    /* nav section end */

    /* hero section start */
    .main-drop{
        width: 100%;
        display: flex;
        justify-content: center;
    }
.top-dropdown-container{
    width: 98%;
    margin: 10px 0px 20px 0px;
    background-color: #fff;
}
.drop-down-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 0px;
}
.drop-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.drop-items img{
    height: 64px;
    width: 64px;
}
.drop-items a{
    text-decoration: none;
    font-weight: 600;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 14px;
    color: #000;
}

.drop-it>a:hover{
    color: blue;
    display: flex;
    justify-content:center;
    align-items: center;
    

}
.drop-it:hover .drop-a{
    color: blue;
}
.fa-angle-down{
    align-items: self-end;
    margin-top: 2px !important;
}
.drop-it:hover .fa-angle-down{
    transform: rotate(-180deg);
 color: blue;
 text-align: center;
    align-self: start;
}
 
.drop-it>a:hover .fa-angle-down{
 transform: rotate(-180deg);
 color: blue;
 text-align: center;
    align-self: start;
}
.drop-it{
    position: relative;
    transition: all 0.3s;
    &:hover .two-w{
        visibility: visible;
        opacity: 1;
    }
}
.two-w:hover #drop-wh {
    background-color: #0231b5;
}
.two-w{
 position: absolute;
 top: 110%;
 left: 0%;
 background-color: #fff;
 box-shadow: 0px 0px 10px #b0b0b080;
 width: 220px;
 z-index: 9999;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 border-radius: 8px;
 visibility: hidden;
 opacity: 0;
}
.two-w a{
width: 100%;
display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 padding: 10px ;
 margin-top: 0;
font-weight: 300;
transition: all 0.3s;
&:hover{
    background-color: #eaf1fe;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
font-weight: 500;

}
}

 /* dropdown end */
 /* hero section start */
.swiper {
    width: 98%;
    height: 40vh;
  
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fcfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100Vh;
    position: relative;
    overflow: hidden;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
     background-color: #ffff;
  padding: 50px 20px;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 14px;
    --swiper-navigation-size: 13px;
    --swiper-navigation-color: rgb(7, 6, 5);
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
  }
  .swiper-button-next{
    right: 0% !important;
  }
  .swiper-button-prev{
    left: 0% !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .swiper-pagination{
    --swiper-pagination-color: rgb(255, 255, 252);

  }
  /* swiper setion end */

  /* top deals section */
  .top-deals-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container{
  margin: 15px 0px 5px 0px;
    width: 98%;
    
  }
  .slider-wrapper {
    position: relative;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 59%;
    outline: none;
    border: none;
    height: 100px;
    width: 35px;
    z-index: 5;
    color: #070606;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    font-size: 2.2rem;
    background: #fff;
    align-items: center;
    justify-content: center;
   
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: 0px;
    display: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 10px rgba(180, 180, 180, 0.5);

  }
  .slider-wrapper .slide-button#next-slide {
    right: 0px;
    box-shadow: -1px -1px 10px rgba(180, 180, 180, 0.5);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 14px;
  }
  .slider-wrapper .image-list {
    display: flex;
  
    gap: 18px;
    font-size: 0;
    list-style: none;
  
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  .slider-wrapper{
    padding: 20px 0px;
    width: 100%;
    background-color: #fff;
    align-items: center;
  
  }
  .all-top-btn>a>i{
    background-color: rgb(1, 5, 214);
    color: #fff;
    padding: 10px;
    line-height: 10px;
    border-radius: 50%;
  }
  .image-item>h3{
    font-size: 16px;
    color: #494848c3;
    font-weight: 400;
    margin-top: 10px;
    &:hover{
        cursor: pointer;
      }
  }
  .image-item>h5{
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  &:hover{
    cursor: pointer;
  }
  }
  .image-item{
    border: 1px solid rgba(184, 184, 184, 0.79);
    border-radius: 4px;
    margin-left: 10px;
    height: 252px;
    width: 500px;
    padding: 10px 20px;
    text-align: center;
  }
  .image-item img {
    width: 180px;

    height: 180px;
    object-fit: contain;
    overflow: hidden;
    transition: all 0.3s;
  }
  .image-item img:hover{
    scale: 1.1;
  }
  
  
  .top-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px ;
  }

  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }